<section class="about-wrap">
    <img src="/img/about-bg.svg" alt="">
    <div class="abt-titl">
   <h1>I am Maftuna,<br /> Designer and Front-End Developer </h1>
   {{!-- <a href="/img/M-Resume.pdf">See my RESUME</a> --}}
   
    </div>
</section>

<section class="abt-wrap">
                <div class="abt-num-wrap">
                    <p class="about-num">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">01</font>
                        </font>
                        <font style="vertical-align: inherit;" class="abt-whoiam">
                        <font style="vertical-align: inherit;">WHO I AM</font>
                    </font>
                    </p>  
                    <!-- <font style="vertical-align: inherit;" class="abt-whoiam">
                        <font style="vertical-align: inherit;">WHO I AM</font>
                    </font> -->
                </div>

                <div class="abt-text">
                    <h3 class="who-jp">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Maftuna</font>
                        </font>
                    </h3>
                    <p class="who-en">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khonkeldieva</font>
                        </font>
                    </p>
                    <p class="who-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        I am a creative designer in Web, UI.UX and Graphic Designer.  I always focus on creating something meaningful and useful.  Learning new things and improving my skills is my passion. 
During the working processes as a designer, I have gained experience not only in Graphic Design, Web Design and Development, but have also learned other skills. Solving problems individually, completing projects in high-pressure situations with stringent deadlines and effectively communicating with the clients are all things I am well versed in now as a result of my
experience. 
                        </font><font style="vertical-align: inherit;">
                   <div class="who-image"><img src="/img/me.JPG" alt="MAFTUNA"></div>
                </div>
                
            </section>

            
                    <section class="skill-cont">
                            <div class="abt-num-wrap">
                                <p class="about-num">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">02</font>
                                    </font>
                                    <font style="vertical-align: inherit;" class="abt-whoiam">
                                    <font style="vertical-align: inherit;">SKILL SET</font>
                                </font>
                                </p>  
                               </div>
                            
                <ul class="skill-wrap">
                    <li class="skill-gr">
                        <div>
                                <p class="skill-type">HTML, CSS</p>
                                <div class="bar p90 in"></div>
                        </div>

                        <div>
                                <p class="skill-type">JAVASCRIPT</p>
                                <div class="bar-js p90 in"></div>
                        </div>

                        <div>
                                <p class="skill-type">NODE JS EXPRESS / HANDLEBARS</p>
                                <div class="bar-node p90 in"></div>
                        </div>


                        <div>
                                <p class="skill-type">REACT</p>
                                <div class="bar-node p90 in"></div>
                        </div>

                        <div>
                                <p class="skill-type">VUE JS / LIQUID</p>
                                <div class="bar-node p90 in"></div>
                        </div>
                        
                    </li>

                    <li class="skill-gr">
                            <div>
                                    <p class="skill-type">PHOTOSHOP</p>
                                    <div class="bar p90 in"></div>
                            </div>
    
                            <div>
                                    <p class="skill-type">ILLUSTRATOR</p>
                                    <div class="bar p90 in"></div>
                            </div>
    
                            <div>
                                    <p class="skill-type">XD / FIGMA</p>
                                    <div class="bar p90 in"></div>
                            </div>
    
                            <div>
                                    <p class="skill-type">AFTER EFFECTS / PREMIERE PRO</p>
                                    <div class="bar-js p90 in"></div>
                            </div>
    
                            <div>
                                    <p class="skill-type">ADOBE ANIMATE / IN DESIGN</p>
                                    <div class="bar-react p90 in"></div>
                            </div>
                            
                        </li>

                    
                </ul>
              
            </section>


