<section>
        <div class="content">
            <div class="content-h1">
                <h1>
                    Hi,
                    <br>
                    I am Maftuna
                </h1>
            </div>
            <div class="content-container">

                <ul class="content-container-list">
                    <li class="content-container-list-item"><span class="ui">User Interface</span></li>
                    <li class="content-container-list-item"><span class="web">Web</span></li>
                    <li class="content-container-list-item"><span class="branding">Branding</span></li>
                    <li class="content-container-list-item"><span class="ux">User Experience</span></li>
                </ul>
            </div>

            <div class="content-h2">
                <h2>
                    Desig-
                    <br>
                    ner
                </h2>
            </div>
        </div>

        <div class="bg-container">
                <img src="/img/portfolio-bg.svg" alt="bg" class="bg">
       </div>
    </section>

    <section class="container">
        <div>
            <ul class="interes">
                <li class="interes-item">
                    <div class="interes-icon">
                        <img src="img/creative-1.svg" alt="design icon">
                    </div>
                    <h3 class="subtitle">
                       <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creativity</font></font>  
                    </h3>
                    <p class="interes-txt">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">I am creative, conceptualizing something useful,coming up with ideas that result in something worthwhile.</font>
                                <font style="vertical-align: inherit;"></font>
                                <font style="vertical-align: inherit;"></font></font>
                    </p>
                </li>
                <li class="interes-item">
                        <div class="design-icon">
                            <img src="img/design.svg" alt="design icon">
                        </div>
                        <h3 class="subtitle">
                           <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Design</font></font>  
                        </h3>
                        <p class="interes-txt">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Design is a process, where you start with a general concept, then hone it as close to perfection, achieving perfect balance is what makes me passionate about it</font>
                                    <font style="vertical-align: inherit;"></font>
                                    <font style="vertical-align: inherit;"></font></font>
                        </p>
                    </li>
                    <li class="interes-item">
                            <div class="interes-icon">
                                <img src="img/learning.svg" alt="design icon">
                            </div>
                            <h3 class="subtitle">
                               <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Learning</font></font>  
                            </h3>
                            <p class="interes-txt">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lifelong learning is unlimited. I love learning new things consistently and furthering my own knowledge. </font>
                                        <font style="vertical-align: inherit;"></font>
                                        <font style="vertical-align: inherit;"></font></font>
                            </p>
                        </li>
            </ul>
        </div>

       
            <div class="showcase-title">
                <h2>
                    Showcase
                </h2>
                <div class="style"></div>
                
           
        </div>
        </div>
        <div>
            <ul class="item-ul">
                <li><a href="/goodfood"><img src="img/ui-p.png" alt="" class="item-img"></a></li>
                <li><a href="/roof"><img src="img/roofweb-p.png" alt="" class="item-img"></a></li>
                <li><a href="/peach-branding"><img src="img/peach-p-1.png" alt="" class="item-img"></a></li>
                <li><img src="img/ik-p.png" alt="" class="item-img"></li>
            </ul>
        </div>
    </section>


    