<section>
        <div class="content">
            <div class="content-h1">
                <h1>
                    Hi,
                    <br>
                    I am Maftuna
                </h1>
            </div>
            <div class="content-container">

                <ul class="content-container-list">
                    <li class="content-container-list-item"><span class="ui">User Interface</span></li>
                    <li class="content-container-list-item"><span class="web">Web</span></li>
                    <li class="content-container-list-item"><span class="branding">Branding & Identity</span></li>
                    <li class="content-container-list-item"><span class="ux">User Experience</span></li>
                </ul>
            </div>

            <div class="content-h2">
                <h2>
                    Desig-
                    <br>
                    ner
                </h2>
            </div>
        </div>

        <div class="bg-container">
                <img src="img/portfolio-bg.svg" alt="bg" class="bg">
       </div>
    </section>