
    <form id="program">
    <div class="radio-box">
    <label>
        <input type="radio" name="program" id="web" value="act">
       <img src="/img/web-icon.png" alt="" class="radio-img">
   </label>
    <label>
        <input type="radio" name="program" id="ui" value="animation">
        <img src="/img/ui-icon.png" alt="" class="radio-img">
    </label>
    <label>
        <input type="radio" name="program" id="identity" value="3d">
        <img src="/img/ident-icon.png" alt="" class="radio-img">
    </label>
    </div>
    </form>



<section id="items" class="works-item"></section>

<script src="/js/index.js"></script>